# This is a basic workflow to help you get started with Actions

name: Build and publish a docker image

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name : test
        run: echo $GITHUB_ACTOR
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
          
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{runner.os}}-maven-${{hashFiles('**/pom.xml')}}
          resotre-keys:
           ${{runner.os}}-maven-
         
      # Runs a set of commands using the runners shell
      - name: Build with Maven
        run: |
             mvn clean package
             cp ./target/stackoverflow-simplified.war ./docker/images/payara/apps
             cp ./target/stackoverflow-simplified.war ./docker/images/wildfly/apps
             cp ./target/stackoverflow-simplified.war ./docker/images/openliberty/apps
             cp ./src/main/liberty/config/server.xml ./docker/images/openliberty/configs
             

      - name: Build Docker image (includes mvn clean package)
        run: |
             echo ${{secrets.DEV_ZARETTI_PAT}} | docker login ghcr.io --username dev-zaretti --password-stdin
             docker build -t dev-zaretti/stackoverflowsimpleversion/payara ./docker/images/payara
             docker build -t dev-zaretti/stackoverflowsimpleversion/wildfly ./docker/images/wildfly
             docker build -t dev-zaretti/stackoverflowsimpleversion/openliberty ./docker/images/openliberty
             docker tag dev-zaretti/stackoverflowsimpleversion/payara ghcr.io/dev-zaretti/stackoverflowsimpleversion/payara
             docker tag dev-zaretti/stackoverflowsimpleversion/wildfly ghcr.io/dev-zaretti/stackoverflowsimpleversion/wildfly
             docker tag dev-zaretti/stackoverflowsimpleversion/openliberty ghcr.io/dev-zaretti/stackoverflowsimpleversion/openliberty
             docker push ghcr.io/dev-zaretti/stackoverflowsimpleversion/payara
             docker push ghcr.io/dev-zaretti/stackoverflowsimpleversion/wildfly 
             docker push ghcr.io/dev-zaretti/stackoverflowsimpleversion/openliberty
             
